{% extends 'layout.html' %}
{% load static %}

{% block title %}Reminders App Editar{% endblock %}

{% block content %}

<div class="container">
    <h2>Editar Recordatorio</h2>
    <p>Recuerda que el contenido no puede estar vacío y debe tener entre 3 y 120 caracteres.</p>
<form action="{% url 'editar' reminder.id %}" method="POST">
    {% csrf_token %}
    <label style="display: block;" class="form-label">
        Contenido: <input name="contenido" class="form-control" value="{{ reminder.content }}" required minlength="3" maxlength="120">
    </label>
    {% if messages == "El contenido no puede estar vacío" %}
            <div class="alert alert-danger">
                {{ messages }}
            </div>
        {% endif %}
        {% if messages == "El contenido debe tener entre 3 y 120 caracteres" %}
            <div class="alert alert-danger">
                {{ messages }}
            </div>
        {% endif %}
    <label style="display: block;" class="form-label">
        Importante: <input name="importante" class="form-check-input" type="checkbox" {% if reminder.important %}checked{% endif %}>
    </label>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>

</div>

{% endblock %}